<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Plus Coming Soon Template </title>
    <link rel="shortcut icon" href="assets/img/favicon.ico" /> <!--PUT YOUR FAVICON HERE-->
    <!--REQUIRED STYLE SHEETS-->
    <!--MAIN BOOTSTRAP STYLE-->
    <link href="assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!--DEMO STYLE -->
    <link href="assets/demo/demo.css" rel="stylesheet" />
    <!--END REQUIRED STYLE SHEETS-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <!--Page Wrapper -->
    <div id="wrapper">
        <div class="container">
            <!--Page container -->
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6">
                    <h1>CHOOSE FROM THE FOUR STYLES</h1>
                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6">
                    <a href="index-slideshow.html">
                        <h3>SLIDESHOW BACKGROUND</h3>
                        <img src="assets/demo/slide.png" alt="" />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="index-image.html">
                        <h3>IMAGE BACKGROUND</h3>
                        <img src="assets/demo/image.png" alt="" />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="index-color.html">
                        <h3>COLOR BACKGROUND</h3>
                        <img src="assets/demo/color.png" alt="" />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="index-video.html">
                        <h3>VIDEO BACKGROUND</h3>
                        <img src="assets/demo/vedio.png" alt="" />
                    </a>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
